<search-box (searchChange)="myValueChange($event)"></search-box>

<ul class="clientes">
	<li *ngFor="let cliente of clientes | search : term" (click)="goToDetail(cliente)" [class.selected]="cliente === selectedCliente">
		<span class="cliente-element">
			{{ cliente.nome }}
		</span>
		<button class="delete-button" (click)="delete(cliente, $event)">Delete</button>
	</li>
</ul>

Novo Cliente:
<input #novoCliente />
<button (click)="addCliente(novoCliente.value); novoCliente.value=''">
	Add Cliente
</button>
<div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
<div class="success" *ngIf="successMessage">{{ successMessage }}</div>
