<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['Home']">Intranet</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" *ngIf="auth.loggedIn()">
        <li *ngIf="auth.isAdmin()"><a [routerLink]="['Clientes']">Clientes</a></li>
        <li *ngIf="auth.isAdmin()"><a [routerLink]="['Admin']">Admin</a></li>
        <li class="dropdown" *ngIf="auth.isAdmin()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Ordens <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['Ordens', 'Entrada']">Entrada</a></li>
          	<li><a [routerLink]="['Ordens', 'Saida']">Saída</a></li>
          	<li><a [routerLink]="['Ordens', 'Fechadas']">Fechadas</a></li>
          	<li><a [routerLink]="['Ordens', 'Abertas']">Abertas</a></li>
          	<li><a [routerLink]="['Ordens', 'Controle']">Controle</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <button (click)="auth.login()" *ngIf="!auth.loggedIn()" class="btn btn-default navbar-btn">Login</button>
        <p class="navbar-text" *ngIf="auth.loggedIn() && auth.user">Bem-vindo, {{ auth.user['nickname'] }} ({{ auth.user['roles'] }}).</p>
        <button (click)="auth.logout()" *ngIf="auth.loggedIn()" class="btn btn-default navbar-btn">Logout</button>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
