<div class="row" *ngIf="ordemCadastrada">
	<div class="col-md-12">
		<div class="alert alert-success" role="alert">
			{{ mensagem }}
			<strong>OS: <span (click)="goToControle(ordemCadastrada)">{{ ordemCadastrada.numero }}</span></strong>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h3>Entrada</h3>
  </div>
	<div class="col-md-6 entrada-numero-os">
		<h3>OS: {{ numero }}</h3>
	</div>
</div>
<hr>
<div class="row">

		<form #ordemForm="ngForm" (ngSubmit)="add(ordemForm.value)">

			<div class="form-group col-md-6">
				<label for="cliente">Cliente</label><br>
				<p-autoComplete [(ngModel)]="cliente" [suggestions]="filteredClientes" (completeMethod)="search($event)" field="nome" [size]="30"
			    placeholder="Clientes" [minLength]="1" ngControl="cliente" inputStyleClass="form-control"></p-autoComplete>
			</div>

			<div class="form-group col-md-2">
				<label for="equipamento">Equipamento</label>
				<select [ngModel]="equipamento" ngControl="equipamento" class="form-control" id="equipamento">
					<option *ngFor="let equipamento of equipamentos" [ngValue]="equipamento" [selected]='equipamento.nome == "Nobreak"'>
						{{ equipamento.nome }}
					</option>
				</select>
			</div>

			<div class="form-group col-md-2">
				<label for="equipamento">Marca</label>
				<input [ngModel]="marca" ngControl="marca" class="form-control">
			</div>

			<div class="col-md-12">
				<input type="hidden" class="form-control" [(ngModel)]="numero" ngControl="numero">
				<button type="submit" class="btn btn-default">Cadastrar</button>
			</div>

		</form>

</div>
